.wrapper {
    width: 1200px;
    margin: 0 auto;
}

body{
    padding-bottom: 40px;
    margin: 0px;
	border-top: 120px solid black;
	border-bottom: 150px solid black;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
}

.imagenprincipal{
    width: 1200px;
    height: 400px;
    margin-top: 30px;
}

.img1 {
    width: 375px;
    height: 400px;
}


.a {
    display: inline-block;
    width: 375px;
    height: 400px;
    margin-right:20px ;
    margin-top: 20px;
    margin-bottom:20px ;
}
p{
    text-align: justify;
    margin-bottom:20px; 
}
button{
    background-color: #fffffe;
    font-size: 20px;
    border-radius: 8px;
}
button:hover{
    background-color:black;
    color:white;
}